<IfModule mod_headers.c>
  <FilesMatch ".(eot|otf|svg|ttf|woff|woff2?)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>
Options +FollowSymLinks 
Options -Indexes
ErrorDocument 404 https://stylexui.com/404
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]